{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>Home-Page</title>

<link rel="stylesheet" href="{% static 'css/homepage_7.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/datatables.js' %}"></script>

{% include 'partials/_navbar.html' %}

<section class="principal">
  <div class="container__tabela">
  <table id="example" class="table table-dark table-striped tabela__principal">
      <thead>
      
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Descrição</th>
          <th scope="col">Visto</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">{{ products.id }}</th>
          <td>{{ products.name }}</td>
          <td>{{ products.price }}</td>
          <td>{{ products.description }}</td>
          <td class="td__checkbox">
            <input type="checkbox" name="checkbox" class="checkbox__action">
         </td>
        </tr>
        

      </tbody>
  </table>
</div>
</section>

{% include 'partials/_footer.html' %}

{% endblock %}


